@use './_variables' as *;
@use './hero';
@use './shows';
@use './plans';
@use './available-devices.scss';
@use './faq';
@use './footer';
@use './header';


@font-face {
    font-family: Avenir;
    src: url(../../assets/Fonts/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/Fonts/fonts/Avenir-Bold.woff2);
    font-weight: 800;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body {
    background-color: $corDeFundo;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px)
    }
}

.text {
    @include text();

    @media (max-width: 768px) {
        @include text(14px)
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px)
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px)
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px)
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px)
    }
}

.link-text {
    @include text(18px);
    color: $corTextoSecundario;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: $corTextoSecundario;
    background-color: $corBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid $corBotaoPrimario;

    &:hover {
        background-color: lighten($color: $corBotaoPrimario, $amount: 3%);
    }

    &--secondary {
        background-color: $corBotaoSecundario;
        border-color: $corBotaoSecundario;

        &:hover {
            background-color: lighten($color: $corBotaoSecundario, $amount: 3%);
        }
    }

    &--dark {
        background-color: $corBotaoDark;
        border-color: $corTextoSecundario;
        transition: background-color, 0.5s ease;

        &:hover {
            background-color: $corTextoSecundario;
            color: $corDeFundo;
            transition: background-color, 0.5s ease;
        }
    }
}

.image_text_section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__text__container{
        padding: 0 0.2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--imgage-full-width {
        display: block;
        position: relative;


        img {
            width: 100%;
        }

        &__text__container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}

