@use './_variables' as *;
@use './hero';
@use './shows';
@use './plans';
@use './watch-anywhere';

@font-face {
    font-family: Avenir;
    src: url(../../assets/Fonts/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/Fonts/fonts/Avenir-Bold.woff2);
    font-weight: 800;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: $corDeFundo;
}

.text--big {
    @include text(18px);
}

.text {
    @include text();
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: $corTextoSecundario;
    text-decoration: underline;
}

.button {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: $corTextoSecundario;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
    cursor: pointer;
}

